<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Интервалы</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="/intervals/add" class="btn btn-xs js-add-phys">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Код</th>
                        <th class="col-md-2">Значение (в минутах)</th>
                        <th class="col-md-2">Комментарий</th>
                        <th class="col-md-2">Дата обновления</th>
                        <th class="col-md-3"></th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    items.each(function(item){
                    %>
                    <tr data-id="<%- item.get('id') %>" class="js-row">
                        <td>
                            <%- item.get('key') %>
                        </td>
                        <td>
                            <%- item.get('value') %>
                        </td>
                        <td>
                            <%- item.get('comment') %>
                        </td>
                        <td>
                            <%- item.get('update_date') %>
                        </td>
                        <td>
                            <a href="/intervals/edit/<%- item.get('id') %>">
                                <span class="glyphicon glyphicon-edit"></span>
                                Редактировать
                            </a>
                            <a href="#" data-id="<%- item.get('id') %>" class="js-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                                Удалить
                            </a>
                        </td>
                    </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
    </div>
</div>